body {
  font-family: var(--font-satoshi), sans-serif !important;
}

ol{
  font-family: var(--font-satoshi), sans-serif !important;
}

::placeholder{
  font-family: var(--font-satoshi), sans-serif !important;
  font-weight: 500 !important;
  color: #686868 !important;

}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* font-family: 'Courier New', Courier, monospace; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.custom-input::placeholder, .custom-num-input::placeholder, .custom-ph-input::placeholder {
  color: #BCBCBC !important;
  size: 16px !important;
  font-weight: 500 ;
}

.custom-input:focus, .custom-num-input:focus,.custom-ph-input:focus{
  border: 1px solid #222222;
}

.custom-label  {
  size: "20px";
  color: #636363;
  font-weight: 600;
}

.custom-num-label  {
 display: none;
}



.custom-input {
  color: #222222;
  border-radius: 10px;
  border: 1px solid #BCBCBC;
  size: 18px;
  width: 100% !important;
  height: 56px !important;  
  font-family: var(--font-satoshi), sans-serif !important;
}

.custom-num-input {
  color: #222222;
  border-radius: 10px;
  border: 1px solid #BCBCBC;
  size: 18px;
  height: 56px !important;  
  font-family: var(--font-satoshi), sans-serif !important;
}

.custom-ph-input{
  color: #222222;
  border-radius: 10px;
  border: 1px solid #BCBCBC;
  size: 18px;
  min-height: 169px !important;  
  width: 100%;

}

@media (max-width: 768px) {
  .custom-input, .custom-num-input, .custom-ph-input {
    height: 50px;
    font-size: 16px;
  }
  
  
  .modal-content { 
    max-width: 90%;
    padding: 10px;
  }
}